{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, <strong>{{userName}}</strong></p>

                        <p>Você acaba de concluir sua inscrição de número <strong>{{registrationNumber}}</strong> no
                            <strong>{{projectName}}</strong>{{#nameOrg}} da organização
                            <strong>{{nameOrg}}</strong>,{{/nameOrg}} {{#cnpjOrg}}<strong>CNPJ:
                                {{cnpjOrg}}</strong>,{{/cnpjOrg}} como <strong>{{categoryOrg}}</strong>.
                        </p>
                        <br>
                        <p>
                            A análise da Comissão de Certificação leva até 3 meses. Por favor, aguarde. Você receberá um
                            e-mail com o resultado quando a análise for finalizada.
                        </p>
                        <br>
                        <p>
                            Se informou que está concorrendo em edital, atenção: sua certificação ocorrerá por meio do
                            edital Cultura Viva em que está concorrendo, quando o resultado desse edital for informado
                            ao Ministério da Cultura.
                        </p>
                        <br>
                        <p>
                            Se estiver concorrendo em mais de um edital e for certificado por algum que não é o que
                            informou no formulário de cadastro, não se preocupe: a certificação ocorrerá por qualquer
                            edital certificador que tenha o resultado enviado pelos entes federados ao Ministério da
                            Cultura.
                        </p>
                        <br>
                        <p>
                            Caso sua organização não seja certificada por um dos editais em que está concorrendo, você
                            pode alterar a sua inscrição informando que não está concorrendo em edital, e reenviar, para
                            que ela seja analisada pela Comissão de Certificação da Política Nacional Cultura Viva.

                        </p>
                        <br>
                        <p>
                            Quando sua certificação entrar no Cadastro Nacional, você receberá um e-mail informativo.
                        </p>

                        <br>
                        <p>
                            Em caso de dúvidas, entre em contato com <a
                                href="mail:suporte.culturaviva@cultura.gov.br">suporte.culturaviva@cultura.gov.br</a>
                        </p>
                        <br><br>
                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{{{_footer}}}